@font-face {
  font-family: 'NotoSans';
  src: url('fonts/Montserrat-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Thin.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'NotoSans', 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'NotoSans', 'Montserrat';
}